<div class="row center ">

    <p class="flow-text green-text" style="margin-top: 15%">
        Congratulation! Your accoun has been created.
        On your email has been send activation link.
        Please check your email and start working with Fenrir Project Manager.
    </p>
    <a class="btn brown waves-effect waves-light" href="@Url.Action(MVC.Home.Index())"> OK </a>
</div>

