<ul class="right hide-on-med-and-down">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="black-text green-hover hover-animation" href="@Url.Action(MVC.Home.About())">My issues</a>
        </li>

        <li>
            <a class="black-text blue-hover hover-animation" href="@Url.Action(MVC.Home.About())">Settings</a>
        </li>

        <li>
            <a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Home.About())">Logout</a>
        </li>
    </ul>
</ul>

<ul id="nav-mobile" class="side-nav">
    <li><a href="#">Pomoc</a></li>
    <li><a href="#">Co to jest?</a></li>
    <li><a href="#">Zaloguj się</a></li>
</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
