<div id="index-banner" class="parallax-container" style="background: rgba(0, 0, 0, 0.6); margin-top: 90px;">
    <div class="section no-pad-bot">
        <div class="container center ">
            <div class="row">
                <div class="col l12 s12 m5">
                    @Html.Partial("FeatureSlider")
                    <div class="row center">
                        @Html.ActionLink("Get started", MVC.Account.Register(), new { @class = "btn blue btn-large waves-effect waves-light", @style= "width: auto !important" })
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/Graph/Backgrounds/background3.jpg">
    </div>
</div>
